.navhead{
    width: 100%;
    height: 50px;
    background-color: #3c5e49;
    margin-top: -10px;
    margin-left: -10px;
}

.navlogo{
    padding: 3px;
    position: absolute;
    float: left;
    margin-left: 1%;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    font-size: 25px;
}

.navbuttons{
    width: auto;
    float: right;
    margin-top: 0px;
}

.click{
    display: inline-block;
    padding: 15px 30px;
}

.links{
    text-align: center;
    color: #eeeeee;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.click:hover{
    background-color: #263f30;
    transition: 0.5s;
}

.links:hover{
    color: #aaa;
    transition: 0.5s;
}

.navbuttons:hover{
    color: #263f30;
    transition: 0.5s;
}
