.Instant-plan {
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(27, 25, 25, 0.2);
    overflow: hidden;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #eb0b0b;
    margin: 15px;
}

.Instant-plan_header{
    padding: 25 px;
    background: #009578;
    color: #ffffff;
}

.Instant-plan_title,
.Instant-plan_summary {
    margin: 0;
    text-align: center;

}

.Instant-plan_title{
    font-size: 1.5em;
    font-weight: 350;
}

.Instant-plan_description {
    padding: 25px;
}

.Instant-plan_list {
    padding: 0;
    margin: 0;
}

.Instant-plan_benefit{
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    font-size: 0.9em'
}

.Instant-plan_benefit:not(:last-child) {
    margin-bottom: 0.5em
}

.Instant-plan_benefit::before{
    content: "\2714";
    color:#dd0b0b;
    position: absolute;
    left: 0;
}

.Instant-plan_actions{
    padding: 25px;
    border-top: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
}

.Instant-plan_cost{
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #000000;
}

.Instant-plan_text{
    font-size: 0.9em;
    text-align: center;
    margin: 0 0 10px 0;
}

.Cart{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #fafcfd, #ebe7e6);
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
}
.Cart-Container{
    width: 45%;
    height: 60%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    padding: 70px;
    transform: translate(2%, 15%);
}
.Cart-Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Cart-Heading{
    font-size: 25px;
    font-family: ‘Arial’;
    font-weight: 700;
    color: #2F3841;
    position: absolute;
    top: 8px;
    left: 16px;
}

#nav {
    background-color: #fff;
}
#nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#nav li {
    display: inline;
    padding: 5px 5px;
}
#nav a {
    color: #2F3841;
    text-decoration: none;
    font-size: 15px;
}